<ng-container *ngIf="songs$ | async as songs; else loadingSpinner">
  <mat-card *ngFor="let song of songs">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ song.name }}</mat-card-title>
        <mat-card-subtitle>{{ song.artists[0].name }}</mat-card-subtitle>
        <img mat-card-sm-image src="{{ song.album?.images?.[0]?.url }}" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="onAddToQueue(song)" mat-button color="primary">
        enqueue
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #loadingSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
